@model TODO.domain.Entities.Task

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Task</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Priority)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsCompleted)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }, new { @class = "btn btn-primary", @style = "color:white" }) 
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info", @style = "color:white" })
    </p>
</body>
</html>
