@model IEnumerable<TODO.domain.Entities.Task>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>

</head>
<body>

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr class="@(item.IsCompleted == false && item.Date<DateTime.Now ? "danger" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
              @item.Date.ToString(" dd MMM yyyy")

                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.CheckBox("item.IsCompleted",
                item.IsCompleted != null && (bool)item.IsCompleted, 
                new { onclick = "SomeMethod(this)" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) |
                @Html.ActionLink("Details", "Details", new { id=item.TaskId }) |
                @Html.ActionLink("Delete", "DeleteConfirmed", new { id=item.TaskId })
            </td>
        </tr>
    }
    
    </table>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", @style = "color:white" })
    </p>
   
</body>
</html>
