@model IEnumerable<TODO.domain.Entities.Task>
 


@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table">
    <tr><th>Name</th><th>Priority</th><th>Date</th><th>Comment</th><th>Is Done</th></tr>
    @foreach (var t in Model)
    {
       <tr class="@(t.IsCompleted == false ? "danger" : "")"><td>@t.Name</td><td>@t.Priority</td><td>@t.Date</td><td>@t.Comment</td><td>@t.IsCompleted</td></tr>
    }
</table>