@model IEnumerable<TODO.domain.Entities.Task>
 


@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>

<table class="table">
    <tr><th>Name</th><th>Priority</th><th>Date</th><th>Comment</th><th>Is Done</th></tr>
    @foreach (var t in Model)
    {
       <tr class="@(t.IsCompleted == false ? "danger" : "")"><td>@t.Name</td><td>@t.Priority</td><td>@t.Date.ToString(" dd MMM yyyy")</td><td>@t.Comment</td><td>@t.IsCompleted</td></tr>
    }
</table>
<input type="button" onclick="" />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { TaskId = item.TaskId }) |
                @Html.ActionLink("Details", "Details", new { TaskId = item.TaskId }) |
                @Html.ActionLink("Delete", "Delete", new { TaskId = item.TaskId })
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#grid").jqGrid({
            url: "/Task/GetTodoList",
            datatype: "json",
            mtype: "GET",
            colNames: ["TaskId", "Name", "Priority", "Date", "Comment", "IsCompleted"],
            colModel: [
                { key: true, hidden: true, name: "TaskId", index: "TaskId", editable: true },
                { key: false, name: "Name", index: "Name", editable: true },
                { key: false, name: "Priority", index: "Priority", editable: true, edittype: "select", editoptions: { value: { "0": "Low", "1": "Medium", "2": "High" } } },
                { key: false, name: "Date", index: "Date", editable: true, formatter: "date", formatoptions: { newformat: "d/m/Y" } },
                { key: false, name: "Comment", index: "Comment", editable: true },
                { key: false, name: "IsCompleted", index: "IsCompleted", editable: true, edittype: "select", editoptions: { value: { "1": "Yes", "0": "No" } } }],
            pager: jQuery("#pager"),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: "100%",
            viewrecords: true,
            caption: "Todo List",
            emptyrecords: "No records to show",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "0"
            },
            autowidth: true,
            multiselect: false
        });

    });

</script>



<link rel="stylesheet" type="text/css" href="themes/redmond/jquery-ui-1.7.1.custom.css" />
<link rel="stylesheet" type="text/css" href="themes/ui.jqgrid.css" />

<script type="text/javascript" src="http://www.trirand.net/aspnetmvc/Scripts/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="http://www.trirand.net/aspnetmvc/Scripts/jqgrid/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="http://www.trirand.net/aspnetmvc/Scripts/jqgrid/jquery.jqGrid.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.trirand.net/aspnetmvc/Content/themes/redmond/jquery-ui-1.7.1.custom.css" />
<link rel="stylesheet" type="text/css" href="http://www.trirand.net/aspnetmvc/Content/themes/ui.jqgrid.css" />